body {
    min-width: 500px;
}
.resize-drag {
    display: flex;
    justify-content: space-around;
    background: #e56b10;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    width: 100% !important;
    box-sizing: border-box;
    height: 450px;
    font-family: saker-sans;
    min-height: 300px;
    min-width: 500px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    animation: blinker 1s linear infinite;
 }

@font-face {
    font-family: saker-sans;
    src: url('../fonts/SakerSansBold_PERSONAL_USE.ttf');
}

 .circle {
    width: 70px !important;
    height: 70px !important;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid white;
    color: #e56b10;
    background: white;
    text-align: center;
    font-family: fantasy;
    font-size: 2.3em !important;
 }

 .resize-container {
     display: inline-block;
     width: 100%;
     height: auto;
 }

 .animation {
    animation: iphone;
    animation-duration: 0.6s;
 }

 .animation-btn {
    animation: zoom;
    animation-duration: .3s;
    animation-delay: 0.6s;
 }

 .iphone {
    position: relative;
    display: flex;
    z-index: 20;
 }

 .line-bar {
    position: fixed;
    height: 5px;
    width: 100%;
    background: black;
    z-index: 10;
    top: 237px;
    animation: line-blinker 1s linear infinite;
 }

 .animation-body {
    animation: body;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
 }

 .description {
    display: grid;
    align-self: center;
    z-index: 20;
 }

 p {
    text-align: center;
    font-size: 1.8em !important;
 }


 .description {
    display: grid;
    align-self: center;
    /*z-index: 20;*/
 }

.first-desc div {
    z-index: 10;
}

.first-desc {
    position: absolute;
    left: 10%;
    right: 10%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}


 .iphone-img {
     height: 516px;
     margin-top: -30px;
 }

 .point {
    display: flex;
    justify-content: center;
 }

 .resize-btn {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    position: absolute;
    cursor:n-resize;
    background: #ed4149;
    padding: 8px;
    text-align: center;
    top: 490px;
    right: 25%;
 }

  .start-btn {
    background: #e56b10;
    color: white;
    font-family: saker-sans;
    font-size: 4em;
    border-radius: 25px;
    width: 230px;
    cursor: pointer;
 }

 .start-block {
    display: flex;
    justify-content: flex-end;
    width: 79%;
    margin-top: 10vh;
}

 @keyframes iphone {
    0% { transform: translateY(700px); }
    70% { transform: translateY(-30px); }
    100% { transform: translateY(0px); }
 }

 @keyframes body {
    0% { height: 480px }
    50% { height: calc(100% + 50px); }
    100% { height: calc(100% - 50px); }
 }

 @keyframes zoom {
    0% { transform: scale(1,1); }
    100% { transform: scale(1.5, 1.5); }
 }

@keyframes blinker {
  100% {
    border-color: white;
    border-color: white;
  }
}

@keyframes line-blinker {
  100% {
    background: white;
  }
}

svg {
    color: white !important;
}

.material-icons {
    padding: 4px;
    color:white;
}

@media only screen and (max-width: 500px) {
    .text {
        font-size: 0.5em !important;
    }
}